textarea {
    font-family: 'Mona Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-transform: capitalize;
    color: #243376;
    width: 633px;
    height: 289px;
    background: rgba(194, 235, 233, 0.2);
    border: none;
    outline: none;
    resize: none;
    border: 1px solid #CAD7DC;
    border-radius: 10px;
    padding: 10px;
}