.container {
    box-sizing: border-box;
    position: relative;
    width: 716px;
    height: 336px;
    background: #F4FDFF;
    border: 1px solid #243376;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    cursor: pointer;
}

.subscribe-thanks-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.subscribe-thanks-header {
    width: auto;
    height: 40px;
    font-family: 'Cinzel Decorative';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 40px;
    align-items: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2148C8;
}

.subscribe-thanks-message {
width: 656px;
height: 17px;

font-family: 'Mona Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 0px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-transform: capitalize;
gap: 30px;
color: #243376;



}

