.container {
    box-sizing: border-box;
    position: relative;
    width: 716px;
    height: 336px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.subscribe-thanks-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
    position: relative;
    margin: 0 auto;
    margin-right: 20px;
    text-align: center;
}

.subscribe-thanks-header {
    width: auto;
    height: 40px;
    font-family: 'Cinzel Decorative';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 40px;
    align-items: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2148C8;
}

button {
    background: #78BDDC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 409px;
    height: 60px;
    font-family: 'Mona Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #FFFFFF;
    cursor: pointer;
}

img {
    margin-right: 40px;
    margin-left: 20px;

}