.container {
  position: relative;
  height: 1283px;
  background: #F7F8FA;
  border-radius: 20px 0px 0px 0px;
  padding: 50px;
  display: flex;
  flex-direction: column;
}

.logo {
  width: 765px;
  background: #0C133A;

}

img {
  align-self: center;
  display: block;
  margin-top: 0;
}