.container {
  position: relative;
  background: #F7F8FA;
  border-radius: 20px 0px 0px 0px;
  padding: 50px;
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.left-side {
  display: flex;
  flex-direction: column;
}

.email-preview {
  display: flex;
  flex-direction: column;
  background: rgba(194, 235, 233, 0.2);
  resize: none;
  border-radius: 10px;
}

.left-side label {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #101C50;
}

.right-side {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  width: 170px;
  
}

.sent-to {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.recipients label,
.right-side label {
  width: 289px;
  height: 25px;
  font-family: 'Mona Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #243376;
}

.right-side .small-label {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #101C50;
}

button {
  height: 60px;
  width: 149px;
  background: #1F97CD;
  border-radius: 10px;
  font-family: 'Mona Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #FFFFFF;
}

button:hover {
  color: #FFFFFF;
  background: #3CBAFD;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

.recipients {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

