<div class="container">
    <app-page-header [headerText]="'Our Yoga Classes'" [showButton]="false"></app-page-header>
    <div class="classes-container">
        @if (classes$ | async; as classes) {
        <table>
            <tbody>
                @for (class of classes; track class) {
                    <tr>
                        <td>#</td>
                        <td>{{class.title}}</td>
                        <td>{{class.yogaStyle}}</td>
                        <td>{{class.difficulty}}</td>
                        <td>{{class.classLength}}</td>
                        <td>{{class.approved}}</td>

                        <td>
                            <app-view-edit-button (viewEditButtonClick)="onViewEditClick(class.id)"></app-view-edit-button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        }
    </div>
</div>