.container {
    position: relative;
    max-width: 1638px;
    min-height: 1283px;
    background: #FFFFFF;
    border-radius: 20px 0px 0px 0px;
}

.classes-container {
    flex-direction: column;
    display: flex;
    gap: 20px;
}

.class-container {
    /* Rectangle 136 */

    box-sizing: border-box;

    position: relative;
    max-width: 1107px;
    min-height: 154px;
    max-height: 154px;

    background: rgba(113, 131, 215, 0.1);
    border: 1px solid #1F6B9A;
    border-radius: 10px;

    padding: 24px;
    flex-direction: row;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;


}

video {

    position: relative;
    width: 178px;
    height: 104px;

    /* background: url(image.png); */
    border-radius: 5px;

}

img {
    position: relative;
    cursor: pointer;
    width: 109px;
    height: 28px;
    margin-left: auto;
    align-self: flex-start;

}

/* img:hover {
background-color: #aeb2b4;

} */

/* .img-container {
    height: 104px;

} */