<div class="container">
    <app-page-header [headerText]="'my classes'" [buttonText]="'+ add class'" (buttonClick)="addClass()"></app-page-header>
    <div class="classes-container">
        @if (classes$ | async; as classes) {
        @for (yogaClass of classes; track yogaClass.id) {
        <div class="class-container">
            <video [src]="yogaClass.videoLink"></video>
            <app-yoga-class [classData]="yogaClass" [descriptionWidth]="880"></app-yoga-class>
            @if (yogaClass.approved == true) {
                <app-view-edit-button (viewEditButtonClick)="editClass(yogaClass)"></app-view-edit-button>
            }
        </div>
        }}
    </div>
</div>