.container {
    position: relative;
    width: 100%;
    height: 874px;
    background: #FFFFFF;
    border-radius: 20px 0px 0px 0px;
}


img {
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
    width: 138px;
    height: 115px;
    border: 1px solid #CAD7DC;
    border-radius: 10px;
}

.body-container {
    padding: 50px;
}

.teacher-container {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.check-box {
    margin-bottom: 20px;
}