<app-page-header [headerText]="'Our Yoga Teachers'" [buttonText]="'invite teacher'" (buttonClick)="addTeacher()"></app-page-header>
    <div class="classes-container">
        @if (teachers$ | async; as teachers) {
        <table>
            <tbody>
                @for (teacher of teachers; track teacher) {
                    <tr>
                        <td>#</td>
                        <td>{{teacher.fullName}}</td>
                        <td>{{teacher.email}}</td>
                        <td>{{ teacher.status }}</td>
                        <td>
                            <app-view-edit-button (viewEditButtonClick)="onViewEditClick(teacher.teacherID)"></app-view-edit-button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        }
    </div>