@if (yogaClass$ | async; as yogaClass) {
<div class="container">
    <app-page-header [showBack]="(isAdmin | async) === true || yogaClass.approved === true"
        [headerText]="headerText + yogaClass.title" [buttonText]="'save'" (backToListClick)="backToList()"
        (buttonClick)="save(yogaClass)"></app-page-header>
    <div class="body-container">
        <div class="left-side">
            <app-text-box [inputValue]="yogaClass.title" [placeholderValue]="'class name'"
                (textChange)="onTitleChange(yogaClass, $event)"></app-text-box>
            <app-yoga-classes-filter [filterName]="'yoga style'" [filterOptions]="yogaStyles"
                [savedOption]="yogaClass.yogaStyle"
                (filterChange)="onYogaStylesFilterChange(yogaClass, $event)"></app-yoga-classes-filter>
            <app-yoga-classes-filter [filterName]="'duration'" [filterOptions]="durations"
                [savedOption]="yogaClass.classLength"
                (filterChange)="onDurationFilterChange(yogaClass, $event)"></app-yoga-classes-filter>
            <app-yoga-classes-filter [filterName]="'challenge level'" [filterOptions]="challengeLevels"
                [savedOption]="yogaClass.difficulty"
                (filterChange)="onChallengeFilterChange(yogaClass, $event)"></app-yoga-classes-filter>
            <app-text-area [textAreaName]="'class description'" [textValue]="yogaClass.description" [textWidth]="500"
                [textHeight]="250" (textValueChange)="onTextValueChanged(yogaClass, $event)"></app-text-area>
        </div>
        <div class="right-side">
            @if (isAdmin | async) {
            <div class="check-box">
                <app-check-box [inputValue]="'approved'" [checked]="yogaClass.approved"
                    (checkChange)="onApproveCheckChange(yogaClass, $event)"></app-check-box>
            </div>
            <app-text-box [inputType]="'text'" [inputValue]="yogaClass.videoLink" [readonly]="true"></app-text-box>
            }
            @else if (yogaClass.approved === true) {
            <div class="update-container">
                <app-toggle-setting [labelText]="'hide video from site'" [imageSrc]="'/assets/images/class-hidden.png'"
                    [toggleImageSrc]="'/assets/images/class-shows.png'"></app-toggle-setting>
                <app-toggle-setting [labelText]="'boost class video'" [imageSrc]="'/assets/images/boost.png'"
                    [toggleImageSrc]="'/assets/images/boost.png'"></app-toggle-setting>
                <app-text-box [inputType]="'text'" [inputValue]="yogaClass.videoLink" [readonly]="true"></app-text-box>
            </div>
            }
            @else {
            <div class="new-class-container">
                <div class="upload-container">
                    <input #fileInput type="file" accept="video/*" hidden (change)="onSelectVideo($event)" />
                    <button (click)="fileInput.click()">upload video</button>
                    <label class="video-name">{{photoFile?.name}}</label>
                </div>
                <label class="or">or</label>
                <app-text-box [inputType]="'text'" [placeholderValue]="'add video link'"
                    [textBoxWidth]="700"></app-text-box>

                <app-text-box [inputType]="'text'" [textBoxWidth]="700"></app-text-box>

            </div>
            }
            @if (photoPreview()) {
            <video [src]="photoPreview()" controls></video>
            }
            @else {
            <div class="video-preview">
                <img class="video-preview-img" src="/assets/images/video-preview.png" alt="No video selected">
            </div>
            }
            <div class="labels-container">
                <div class="start-label-container">
                    <label>Upload date:</label>
                    <label class="date">{{ yogaClass.createDate | date:'dd/MM/yyyy' }}</label>
                </div>
                <div class="end-label-container">
                    <label>number of views</label>
                </div>
            </div>

        </div>
    </div>
    <hr class="divider">
    @if (yogaClass.approved == true) {
        <app-delete-component></app-delete-component>
    <!-- <img src="/assets/images/delete.png" (click)="showDeleteClass()">
    <app-delete-class-message [isOpen]="isDeleteModalOpen()"
        (Click)="deleteClass(yogaClass, $event)"></app-delete-class-message> -->
    }
</div>
}