:host {
	--bright-blue: oklch(51.01% 0.274 263.83);
	--electric-violet: oklch(53.18% 0.28 296.97);
	--french-violet: oklch(47.66% 0.246 305.88);
	--vivid-pink: oklch(69.02% 0.277 332.77);
	--hot-red: oklch(61.42% 0.238 15.34);
	--orange-red: oklch(63.32% 0.24 31.68);

	--gray-900: oklch(19.37% 0.006 300.98);
	--gray-700: oklch(36.98% 0.014 302.71);
	--gray-400: oklch(70.9% 0.015 304.04);

	--red-to-pink-to-purple-vertical-gradient: linear-gradient(180deg,
			var(--orange-red) 0%,
			var(--vivid-pink) 50%,
			var(--electric-violet) 100%);

	--red-to-pink-to-purple-horizontal-gradient: linear-gradient(90deg,
			var(--orange-red) 0%,
			var(--vivid-pink) 50%,
			var(--electric-violet) 100%);

	--pill-accent: var(--bright-blue);

	font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol";
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: block;
	height: 100dvh;
}

main {
	width: 100%;
	max-height: 989px;
}

.content {
	display: flex;
	justify-content: space-around;
	width: 100%;
	max-width: 700px;
	margin-bottom: 3rem;
}

.main {
	position: relative;
	margin: 0;
	background-image: url('/assets/images/main-background.png');
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}


.intro {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0px;
	/* gap: 6px; */
	position: relative;
	width: 926px;
	/* height: 146px; */
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-top: 40px;
}

.first-row {

	width: 1106px;
	/* height: 50px; */

	font-family: 'Cinzel Decorative';
	font-style: normal;
	font-weight: 400;
	font-size: 35px;
	line-height: 40px;
	/* or 114% */
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	text-transform: capitalize;

	color: #F6EEDB;
	/* Inside auto layout */
	flex: none;
	order: 0;
	flex-grow: 0;
}

.second-row {
	width: 900px;
	font-family: 'Raleway';
	font-style: italic;
	font-weight: 300;
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: capitalize;
	color: #F2DFB2;
	flex: none;
	order: 1;
	flex-grow: 0;
}

.yoga-styles-box {
	width: 125px;
	position: relative;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 100px;
}

.yoga-style-item-with-image {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-align: center;
}

.line-separator {
	border-top: 1px solid #1D2C72;
	width: 978px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

.all-yoga-styles-box {
	position: relative;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	gap: 100px;
	margin-bottom: 50px;
}

.all-img {
	display: flex;
	justify-self: flex-start;
}

.all-yoga-style-item-with-image {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 20px;
}

.yoga-style-header-box {
	box-sizing: border-box;
	width: 260px;
	height: 40px;
	border: 1px solid #F6EEDB;
	filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.25));
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 15px;
}

.all-yoga-style-header-box {
	box-sizing: border-box;
	width: 320px;
	height: 40px;
	border: 1px solid #F6EEDB;
	filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.25));
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 15px;
}

.yoga-style-header {
	height: 25px;
	font-family: 'Cinzel Decorative';
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
	line-height: 25px;
	display: flex;
	align-items: center;
	text-align: center;
	text-transform: capitalize;
	color: #FFF8E6;
	cursor: pointer;
}

.yoga-style-header:hover {
	transform: scale(1.06);
}

.yoga-style-description {
	width: 260px;
	height: 107px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	line-height: 30px;
	text-align: start;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	color: #FFFBFB;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	font-size: 16px;
	line-height: 25px;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	color: #FFFBFB;
	margin-top: 20px;
}

.all-yoga-style-description {
	width: 320px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	line-height: 30px;
	text-align: start;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	color: #FFFBFB;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	font-size: 18px;
	line-height: 25px;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	color: #FFFBFB;
	margin-top: 20px;
}

.teachers-section {
	padding-top: 130px;
	background: #EAEAFA;
	min-height: 1051px;
}

.teachers-container {
	display: flex;
	flex-direction: column;

}

.teachers-header-container {
	/* width: 65%; */
	display: flex;
	/* flex-direction: column; */
	margin-left: auto;
	margin-right: auto;
	gap: 20px;
	
}

.teachers-header {
	justify-content: flex-start;
	font-family: 'Cinzel Decorative';
	font-style: normal;
	font-size: 50px;
	line-height: 70px;
	text-align: center;
	text-transform: capitalize;
	color: #101E52;
	font-weight: 400;
}

.teachers-header-bold {
	justify-content: flex-start;
	font-family: 'Cinzel Decorative';
	font-style: normal;
	font-size: 50px;
	line-height: 70px;
	text-align: center;
	text-transform: capitalize;
	color: #101E52;
	font-weight: 700;
}

.teachers-text-container {
	width: 65%;
	display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;

}

.teachers-text {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 45px;
	text-align: center;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	color: #101E52;
}

.teachers-text-bold {
	font-family: 'Montserrat';
	font-style: normal;
	font-style: italic;
	font-weight: 600;
	font-size: 30px;
	line-height: 45px;
	text-align: center;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	color: #101E52;
}

.teachers-main-vision button,
.teachers-text-container button {
	font-family: 'Mona Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 13px;
	display: flex;
	align-items: center;
	letter-spacing: 0.05em;
	text-transform: capitalize;
	color: #111F54;

	padding: 4px 12px;
	gap: 10px;
	background: #CED6ED;
	border-radius: 50px;
	align-self: flex-end;
	margin-top: 30px;
}

.teachers-main-container {
	display: flex;
	max-height: 805px;
}

.teachers-main-vision {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	margin-bottom: 30px;
}

.vision-title {
	font-family: 'Cinzel Decorative';
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 70px;
	text-align: center;
	text-transform: capitalize;
	color: #243376;
	margin-bottom: 30px;
}

.vision-bold {
	font-family: 'Cinzel Decorative';
	font-style: normal;
	font-weight: 700;
	font-size: 21px;
	line-height: 20px;
	letter-spacing: 0.04em;
	text-transform: capitalize;
	color: #101C50;
	margin-bottom: 30px;
}

.vision-text {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	text-transform: capitalize;
	color: #243376;
	max-width: 762px;
}

.teachers-main-vision button {
	align-self: flex-start;
}

@media screen and (max-width: 650px) {
	.main-header {
		flex-direction: column;
		align-items: stretch;
	}

	.left-navbar,
	.navbar {
		justify-content: center;
	}

	.content {
		flex-direction: column;
		width: max-content;
	}

	.divider {
		height: 1px;
		width: 100%;
		background: var(--red-to-pink-to-purple-horizontal-gradient);
		margin-block: 1.5rem;
	}

}