header {
	width: auto;
	display: flex;
	align-items: center;
	position: relative;
	background: #0B1339;
}

.main-header {
	height: 180px;
}

.navbar {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	right: 28px;
}


.classes-left-navbar,
.left-navbar {
	width: 456px;
	height: 65px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-transform: capitalize;
	color: #FFFFFF;
	position: absolute;
	left: 55px;
	top: 60px;
}

.classes-left-navbar {
	top: 30px;
}


.navbar-item {
	font-family: 'Montserrat Alternates';
	font-style: normal;
	font-weight: 700;
	font-size: 15px;
	line-height: 0px;
	/* or 0% */
	display: flex;
	align-items: center;
	text-transform: capitalize;
	color: #6DBDB9;
	border: 1px solid #000000;
	margin-right: 15px;
	cursor: pointer;
}


.main-header-img {
	cursor: pointer;
	position: absolute;
	width: 515px;
	height: 182px;
	left: calc(50% - 515px/2 + 0.5px);
	top: 1px;
}