.container {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #EAEAFA;
    gap: 80px;
    background: #EAEAFA;
    margin-left: auto;
    margin-right: auto;
}

header {
    width: 68%;
    position: relative;
    height: 89px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 100px;
    margin-top: 60px;
}

header img {
    width: 50px;
    height: 50px;
}

.my-selected-classes-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.my-selected-classes {
    font-family: 'Cinzel Decorative';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 70px;
    text-transform: capitalize;
    color: #243376;

}

.my-selected-classes-bold {
    font-family: 'Cinzel Decorative';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 70px;
    text-transform: capitalize;
    color: #243376;
}

.classes-container {
    width: 68%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.inner-class-container {
    display: flex;
    flex-direction: column;
}

.class-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    height: 226px;
    overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #c9dfec rgba(28, 90, 142, 0.1);
}


.yoga-class-meta::-webkit-scrollbar {
  width: 6px;
}

.yoga-class-meta::-webkit-scrollbar-track {
  background: rgba(28, 90, 142, 0.1);
  border-radius: 4px;
}

.yoga-class-meta::-webkit-scrollbar-thumb {
  background: #1F6B9A;
  border-radius: 4px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.yoga-class-meta::-webkit-scrollbar-thumb:hover {
  background: #101C50;
  background-clip: content-box;
}

.teacher-name {
    width: auto;
    font-family: 'Cinzel Decorative';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 20px;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: #101C50;
    margin-top: 10px;
    margin-bottom: 10px;
}

video {
    width: 400px;
    border-radius: 10px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.suggested-classes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.suggested-classes {
    display: flex;
    flex-direction: column;
}