.classes-header {
  width: 100%;
  height: 130px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 30;
  background: #0B1339;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 28px;
}

.classes-left-navbar {
  width: 456px;
  height: 65px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-transform: capitalize;
  color: #FFFFFF;
  position: absolute;
  left: 55px;
  top: 30px;
  gap: 30px;
}

.sub-navbar-item,
.navbar-item {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 0px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #6DBDB9;
  border: 1px solid #000000;
  margin-right: 15px;
  cursor: pointer;
}

.navbar-dropdown:hover .sub-navbar-item,
.sub-navbar-item:hover {
  display: block;
}

.classes-header-img {
  position: absolute;
  width: 368.78px;
  height: 130px;
  left: 50%;
  top: 0px;
  transform: translateX(-50%);
  cursor: pointer;
}

.navbar-dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  max-width: 150px;
  background: transparent;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  z-index: 1000;
  padding-top: 10px;
}

.navbar-dropdown:hover .dropdown-menu {
  display: block;
}

.sub-navbar-item {
  padding: 10px 16px;

  
  cursor: pointer;
  white-space: nowrap;
  box-sizing: border-box;
  border-radius: 15px;
}

.teacher-sub-navbar-item:hover {
  color: #0B1339;
  background: #9EB0FF;
}

.student-sub-navbar-item:hover {
  color: #0B1339;
  background: #C3B5FE;
}