<header class="yoga-classes-header" id="yogaClassesHeader">
  <nav class="classes-left-navbar">
    <div type="button" class="navbar-item" (click)="openPopup('about')">About</div>
    <div type="button" class="navbar-item" (click)="openPopup('contact')">Contact Us</div>
    <div type="button" class="navbar-item" (click)="openPopup('plans')">Plans</div>
  </nav>

  <img class="classes-header-img" src="/assets/images/yoga-classes-logo.png" alt="Yoga Classes Logo" (click)="goHome()">

  <nav class="navbar" id="yogaClassesNavbar">
    <div type="button" class="navbar-item" (click)="openPopup('login')">Login</div>
    <div type="button" class="navbar-item" (click)="subscribe()">Subscribe</div>
    <div class="navbar-item">About Us</div>
  </nav>
</header>
<section class="classes-page">


  <main class="classes-main">

  </main>
</section>